/* Color Palette: 
Yellow: #FFBA49
Light Green: #20A39E
Red Salsa: #EF5B5B
Dark Purple: #23001E
Quick Silver: #A4A9AD
*/

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #ef5b5b;
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
}

/* Have the header fit the entire screen*/
div.theHeader {
  width: 100vw;
  min-height: 35%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  background: url(/img/stock3.jpg);
  --webkit-background-size: cover;
  --moz-background-size: cover;
  --o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

img.theHeader {
  margin: 5% 1% 1% 1%;
  padding: 1% 0% 0% 1%;
  width: 10%;
  justify-content: flex-start;
  filter: drop-shadow(5px 5px 5px #23001e);
  -webkit-filter: drop-shadow(5px 5px 5px #23001e);
  -moz-filter: drop-shadow(5px 5px 5px #23001e);
}

/* Style the Header element*/
.theHeader {
  display: flex;
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-size: 1.15em;
  color: whitesmoke;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: flex-start;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #a4a9ad;
  padding: 1%;
  color: #23001e;
}

li.navigation {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-size: 1em;
}

li.navigation a:hover {
  color: whitesmoke;
  background-color: rgba(164, 169, 173, 0.5);
}

.navigation a {
  text-decoration: none;
  color: #23001e;
  font-weight: bold;
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

.mainBody {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #d4cfca;
}

#textBlock {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
  margin-bottom: 10%;
}

#textBlock h3 {
  background-color: #a4a9ad;
  border-radius: 25px;
  padding: 10px;
}

.textBlock1 select,
option {
  block-size: 25%;
  width: 50%;
}

div.textBlock2 {
  width: 80%;
  margin-left: 10%;
}

label {
  margin-top: 5%;
  margin-bottom: 8%;
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
}

button {
  background-color: #20a39e;
  border-radius: 25px;
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
}

button:hover {
    background-color:rgba(32, 163, 158, 0.25);
}

select {
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-size: 0.85em;
  font-weight: 500;
  text-align: center;
}

.textBlock2 select,
option {
  writing-mode: horizontal-tb;
  block-size: 150%;
  width: 100%;
  padding: 1%;
}

.textBlock2 select {
  margin: 2%;
  width: 100%;
  padding-top: 0.5%;
}

.textBlock2 option {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  padding: 0%;
}

div.forStyle {
  width: 70%;
  margin-left: 6%;
  padding: 10%;
  background-color: rgba(32, 163, 158, 0.25);
  border-radius: 25px;
  --webkit-box-shadow: -1px 1px 5px 5px rgba(0, 0, 0, 0.35);
  --moz-box-shadow: -1px 1px 5px 5px rgba(0, 0, 0, 0.35);
  box-shadow: -1px 1px 5px 5px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.what {
  text-align: center;
  width: 76%;
  margin-left: 10%;
}

.when {
  text-align: center;
  width: 76%;
  margin-left: 8%;
}

.where {
  text-align: center;
  width: 76%;
  margin-left: 12%;
}

#afterSubmit {
  display: flex;
  justify-content: center;
  width: 100 wv;
  margin: 0% 15%;
  padding: 10%;
  background-color: rgba(32, 163, 158, 0.25);
  border-radius: 25px;
  --webkit-box-shadow: -1px 1px 5px 5px rgba(0, 0, 0, 0.35);
  --moz-box-shadow: -1px 1px 5px 5px rgba(0, 0, 0, 0.35);
  box-shadow: -1px 1px 5px 5px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.addedLater {
  list-style: circle;
  text-align: left;
  margin-left: -16%;
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-size: 0.85em;
  font-weight: 500;
  padding-bottom: 4%;
}

.thePlan li {
  list-style: none;
  padding: 0%;
  text-align: left;
  margin: -1%;
}

.activitiesI {
  color: #EF5B5B;
}

.weatherI {
  color: rgba(32,163,158,.8) ;
}