/* Color Palette: 
Yellow: #FFBA49
Light Green: #20A39E
Red Salsa: #EF5B5B
Dark Purple: #23001E
Quick Silver: #A4A9AD
*/

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #EF5B5B;
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
}

/* Have the header fit the entire screen*/
div.theHeader {
  width: 100vw;
  min-height: 35%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  background: url(/img/stock3.jpg);
  --webkit-background-size: cover;
  --moz-background-size: cover;
  --o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

img.theHeader {
  margin: 5% 1% 1% 1%;
  padding: 1% 0% 0% 1%;
  width: 10%;
  justify-content: flex-start;
  filter: drop-shadow(5px 5px 5px #23001e);
  -webkit-filter: drop-shadow(5px 5px 5px #23001e);
  -moz-filter: drop-shadow(5px 5px 5px #23001e);
}

/* .headerH1 {
    font-size: 4em;
    margin: 1%;
    padding: 0;
    color: #23001E;
} */

/* Style the Header element*/
.theHeader {
  display: flex;
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-size: 1.15em;
  color: whitesmoke;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: flex-start;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #a4a9ad;
  padding: 1%;
  color: #23001e;
}

li.navigation {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-size: 1em;
}

li.navigation a:hover {
  color: whitesmoke;
  background-color: rgba(164, 169, 173, 0.5);
}

.navigation a {
  text-decoration: none;
  color: #23001e;
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

.mainBody {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: whitesmoke;
}

#textBlock {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: left;
    align-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#textBlock h3{
    background-color: #a4a9ad;
    border-radius: 5%;
    padding: 10px;
}

/* .textBlock1 {
    display: flex;
    flex-direction: column;
    width: 30%;
} */

/* .textBlock1 select,option {
    writing-mode: horizontal-tb;
  block-size: 15%;
  width: 15%
} */

/* .textBlock1 option {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

/* .alignInRow {
    display:flex;
    flex-direction: row;
    padding: 10% 25% 25% 25%;
} */

/* .textBlock2 {
margin:auto;
} */
/* .textBlock2 select,option {
    writing-mode: horizontal-tb;
    block-size: 150%;
    width: 70%;
} */

/* .textBlock2 option {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

/* #textBlock {
    margin-top: 5%;
    margin-bottom: 5%;
} */

div.forStyle {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10%;
}